* {
    margin: 0;
    padding: 0;
}
.cabecalho {
        background-color: #427E86;
        color: white;
        display: flex;
    }
    .cabecalho-imagem{
        width: 10%;
    }
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        justify-content: space-around;
        padding: 24px 0;
        font-size: 30px;
    }
